.baner-section{
    height: 850px;
    width: 1920;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    
}
.baner-section h1 {
    font-size: 80px;
}
.baner-section p{
    text-align: left
}

.baner-section img{
    margin-top: 50px;
    height: 800px;
    width: 635px;
}

.left-banner {
    height: 506px;
    width: 708px;

}
.featured-section {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    
}

.featured-section h3{
    padding-top: 40px;
    font-size: 40px;
    text-align: center;
}

.featured-img{
    
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    gap: 50px;
    
}
/* .featured-img img {
    
} */
.card-1   {
    border: none;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    width: 464px;
    height: 605px;
    background-color: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: end;
}
.card-2{
    border: none;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    width: 464px;
    height: 605px;
    background-color: rgba(5, 151, 160, 0.15);
    display: flex;
    justify-content: center;
    align-items: end;
}
.card-3{
    border: none;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    width: 464px;
    height: 605px;
    background-color: rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content: center;
    align-items: end;
}
#img-1 {
    
    height: 428px;
    width: 319;
    
}
#img-2 {
    height: 428px;
    width: 319;
}
#img-3 {
    height: 428px;
    width: 319;
}
.hot-deal {
    background-color: rgba(229, 84, 115, 0.05);
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


h3 {
    font-size: 40px;
}
p {
    font-size: 18px;
    text-align: center;
}
.hot-deal img{
    width: 318px;
    height: 420px;
}

.insta-section{
    
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
.insta-img{
    
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.review-header{
font-size: 40px;
text-align: center;
}
.review-section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 25px;
    
}

.review-text    {
    height:250px;
    width: 350px;
    background-color: rgba(236, 153, 171, 0.205);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
}
.deal-section{
    height: 449px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./flower-shop-assignment-main/Flower Asset/Rectangle 9.png");
    background-size: cover;
    background-position: center;
    
}
.deals{
    
    text-align: center;
    justify-content: center;
    align-items: center;
}
.deals h3 {
    padding-top: 120px;
}
.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.email-field{
    width: 700px;
    height: 28px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-weight: bolder;
    
}

.footer-section{
    margin-top: 50px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 25px;
}
.footer-section span{
    color: rgba(229, 84, 115, 1);
}
.button {

background-color: rgba(229, 84, 115, 1);
border: none;
border-radius: 5px;
color: white;
width: 150px;
padding: 25px;
}